<?xml version="1.0" encoding="utf-8"?>

<!--
  Per ulteriori informazioni sulla configurazione dell'applicazione ASP.NET, visitare
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="SQLConnectionStringLOC" providerName="SQLNCLI11.1" connectionString="Provider=SQLNCLI11.1;Integrated Security=SSPI;Persist Security Info=False;User ID=;Initial Catalog=AGirlADay;Data Source=(local);Initial File Name=;Server SPN="/>
  </connectionStrings>  
  <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="30720" executionTimeout="600"/>
  </system.web>

</configuration>
